<%- partial('title') %>
<p class="lead">
  by <%= post.author || config.author %>
</p>
<p><span class="glyphicon glyphicon-time"></span> Posted on <%- partial('date', { date_format: null, time_format: null}) %></p>
<hr>
<% if (post.excerpt){ %>
  <%- post.excerpt %>
  <% if (theme.excerpt_link){ %>
    <a class="btn btn-primary" href="<%- url_for(post.path) %>"><%= theme.excerpt_link %> <span class="glyphicon glyphicon-chevron-right"></span></a>
  <% } %>
<% } else { %>
  <%- post.content %>
<% } %>

<hr />