<div class="container" style="padding-top:40px; padding-bottom:30px;">
    <div class="row">

        <!-- Blog Content Column -->
        <div class="col-md-8 episode-abstract">
            <h1><%= post.title %></h1>
            <p class="meta text-muted">
              <!-- <span class="glyphicon glyphicon-user"></span>  <%= post.author || config.author %> &nbsp; &nbsp; -->
              <span class="glyphicon glyphicon-time"></span>  <%- partial('date', { date_format: null, time_format: null}) %>
            </p>
            <div class="tag-bar">
              <% post.tags.each(function(tag){ %>
                <a href="<%- url_for(tag.path) %>"><span class="label label-info"><%= tag.name %></span></a>
              <% }) %>
            </div>
            <hr>
            <%- post.content %>
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search -->
            <div class="well">
                <h4>Site Search</h4>
                <form class="search" action="//google.com/search" method="GET">
                    <input type="hidden" name="as_sitesearch" value="microcasts.tv">
                    <div class="input-group">
                        <input class="form-control" type="text" name="q" placeholder="Search">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </form>
                <!-- /.input-group -->
            </div>

            <!-- Recent Posts -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Recent Posts</h4>
              </div>
                <ul class="list-group">
                    <% site.posts.find({type:"blog"}).sort("date", -1).limit(5).each(function(post){ %>
                        <li class="list-group-item"><a href="<%- url_for(post.path) %>"><%= post.title %></a></li>
                    <%  }) %> 
                </ul>
            </div>

        </div>

    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-8">
            <% if (post.comments && config.disqus_shortname){ %>
                <section id="comments">
                    <div id="disqus_thread">
                      <script type="text/javascript">
                          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                          var disqus_shortname = '<%= config.disqus_shortname %>'; // required: replace example with your forum shortname

                          /* * * DON'T EDIT BELOW THIS LINE * * */
                          (function() {
                              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                          })();
                      </script>
                      <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </div>
                </section>
            <% } %>
        </div>
    </div>

</div>
<!-- /.container -->