<section>
  <h3>The Verdict</h3>
    <h4>Overall</h4>
    <div class="rating" data-rate="<%= review.overall %>">
      <i class="star-1">★</i>
      <i class="star-2">★</i>
      <i class="star-3">★</i>
      <i class="star-4">★</i>
      <i class="star-5">★</i>
    </div>
    <h4>Price</h4>
    <div class="rating" data-rate="<%= review.price %>">
      <i class="star-1">★</i>
      <i class="star-2">★</i>
      <i class="star-3">★</i>
      <i class="star-4">★</i>
      <i class="star-5">★</i>
    </div>
    <h4>Quality</h4>
    <div class="rating" data-rate="<%= review.quality %>">
      <i class="star-1">★</i>
      <i class="star-2">★</i>
      <i class="star-3">★</i>
      <i class="star-4">★</i>
      <i class="star-5">★</i>
    </div>
    <h4>As Advertised</h4>
    <div class="rating" data-rate="<%= review.advertised %>">
      <i class="star-1">★</i>
      <i class="star-2">★</i>
      <i class="star-3">★</i>
      <i class="star-4">★</i>
      <i class="star-5">★</i>
    </div>
    <h4>Ease of Use</h4>
    <div class="rating" data-rate="<%= review.easy %>">
      <i class="star-1">★</i>
      <i class="star-2">★</i>
      <i class="star-3">★</i>
      <i class="star-4">★</i>
      <i class="star-5">★</i>
    </div>
</section>