<div class="container" style="padding-top:120px">
<%= page.posts.length %> Posts for this page
<%= JSON.stringify(page.posts) %>

<%- list_categories() %>
<%- list_tags() %>
<%- list_archives() %>
</div>
