<div class="container episode-abstract article-entry">
    <div class="row">
        <div class="col-lg-9">
            <div class="text-center">
              <% if (tip.vine){ %>
                <iframe class="vine-embed" src="//vine.co/v/<%= tip.vine %>/embed/simple" width="320" height="320" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
              <% } else if (tip.image){ %>
                <img src="<%= tip.image %>">
              <% } %>
            </div>
            <h1>&micro;Tip: <%= tip.title %></h1>
            <div class="tag-bar">
              <% tip.tags.each(function(tag){ %>
                <a href="<%- url_for(tag.path) %>"><span class="label label-info"><%= tag.name %></span></a>
              <% }) %>
            </div>
            <hr/>
            <%- tip.content %>
        </div>
        <%- partial('episode/sidebar', {episode: tip}) %>
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-md-8">
            <% if (tip.comments && config.disqus_shortname){ %>
                <section id="comments">
                    <div id="disqus_thread">
                      <script type="text/javascript">
                          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                          var disqus_shortname = '<%= config.disqus_shortname %>'; // required: replace example with your forum shortname

                          /* * * DON'T EDIT BELOW THIS LINE * * */
                          (function() {
                              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                          })();
                      </script>
                      <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </div>
                </section>
            <% } %>
        </div>
    </div>
    <!-- end row -->
</div>
