<section id="tips" class="episodes" style="margin-top:20px;">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Tips</h2>
          <hr class="star-primary">
        </div>
      </div>
    <div class="row">
      <% get_posts({count: 100, query: {type:"tip"}}).each(function(tip){ %>
        <div class="col-lg-4">
          <div class="thumbnail">
            <% if (tip.vine){ %>
              <iframe class="vine-embed" src="https://vine.co/v/<%= tip.vine %>/embed/simple" width="320" height="320" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
            <% } else if (tip.video){ %>
              <iframe style="width:100%;" src="//www.youtube-nocookie.com/embed/<%= tip.video %>?rel=0" frameborder="0" allowfullscreen=""></iframe>
            <% } else if (tip.image){ %>
              <img src="<%= tip.image %>">
            <% } %>
            <div class="caption">
              <a href="<%- url_for(tip.path) %>"><h3><%= tip.title %></h3></a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>